* {
    margin: 0;
    padding: 0;
    font-family: pixel;
}

@font-face {
    font-family: pixel;
    src: url("../resources/fonts/pixel-font-7.ttf");
}

canvas {
    position: absolute;
    overflow: hidden;
    height: 100%;
    margin-left: 0%;
    margin-top: 0px;
}

@font-face {
    font-family: pixel;
    src: url("/Public/resources/images/pixel\ font-7.ttf");
}

body {
    background-color: black;
}

#registerPage {

    height: 100vh;
    overflow: hidden;

    /* background-image: url("resources/images/RegisterLoginUI/WaterMapFullBlur.png");
    width: 200px; */

}

#loginContainer {
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 10;
}

#innerContainer {
    margin-top: 100px;
    display: block;
    width: 300px;
    height: 220px;
    justify-content: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    border: solid 2px black;
    padding: 10px;
    color: white;
    background-color: rgba(255, 255, 255, 0.3);
}

#innerContainer input,
p {
    display: block;
    width: 100%;
    float: left;
    height: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

#innerRegisterContainer {
    background-image: url("resources/images/RegisterLoginUI/pannel1.png");
    width: 320px;
    /* background-color: #808080; */
    /* padding: 20px 20px; */
    /* box-sizing: border-box;
    border-radius: 7px; */
    position: fixed;
    left: 45.5%;
    top: 58%;
    transform: translate(-50%, -50%);
}

h1 {
    text-align: center;
    color: #fff;
    font-weight: normal;
    margin-bottom: 80px;
    margin-left: 150px;
    font-family: pixel;
}

.registerHeading {
    text-align: center;
    color: white;
    font-family: pixel;
}

input.register {
    height: 30px;
    width: 150%;
    background: url("/Public/resources/images/RegisterLoginUI/textbox.png");
    padding: 10px;
    margin-bottom: 10px;
    outline: none;
    border: none;
    background-repeat: no-repeat;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#pannelImage {
    /* margin-left: 200px; */
    /* text-align: center; */
    /* margin: auto; */
    display: flex;
    justify-content: center;
    margin-top: 80px;

}

p {
    display: flex;
    color: white;
    justify-content: center;
}

img {
    position: absolute;
    margin-top: 5%;
}

#register {
    background: url("/Public/resources/images/RegisterLoginUI/button.png");
    background-repeat: no-repeat;
    background-size: auto;
    height: 90px;
    margin-left: 25%;
    padding-right: 175px;
    padding-bottom: 50px;
    font-family: pixel;
}

.characters {
    bottom: 0;
    z-index: -5;
}

.logo {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    top: -150px;
}

#register:hover {
    background: url(/Public/resources/images/RegisterLoginUI/buttonHover.png);
    background-repeat: no-repeat;
}

::placeholder {
    color: white;
}

#textChatContainer{
    width: 30%;
    display: none;
    height: 100%;
    position: absolute;
    float: left;
}

#textChat{
    width: 100%;
    height: 20%;
    resize: none;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
}

#textChatInputContainer{
    width: 100%;
    height: 30px;
    display: flex;   
}

#textChatInput{
    width: 70%;
    outline: none;
    transform: translateY(-5px);
}

#textChatEnter{
    width: 30%;
    outline: none;
    transform: translateY(-5px);
}

#textChatHide{
    position: absolute;
    width: 30px;
    height: calc(20% + 31px);
    margin-left: 30%;
    display: none;
}

#textChatShow{
    position: absolute;
    width: 30px;
    height: calc(20% + 31px);
    display: none;
}

#notif{
    position: absolute;
    top: calc(20% + calc(31px-10px));
    left: calc(30px-10px);
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 50%;
    background: red;
    color: white;
    display: none;
    font-family: Arial, Helvetica, sans-serif;
}