* {
    margin: 0;
    padding: 0;
    font-family: pixel;
}

@font-face {
    font-family: pixel;
    src: url("../resources/fonts/pixel-font-7.ttf");
}

canvas {
    position: absolute;
    overflow: hidden;
    height: 100%;
    margin-left: 0%;
    margin-top: 0px;
}

body {
    background-color: black;
}

#registerPage {
    background-color: #3e3d3d;
}

#loginContainer {
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
}

#innerContainer {
    margin-top: 100px;
    display: block;
    width: 300px;
    height: 200px;
    justify-content: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    border: solid 2px black;
    padding: 10px;
    color: white;
    background-color: rgba(255, 255, 255, 0.3);
}

#innerContainer input,
p {
    display: block;
    width: 100%;
    float: left;
    height: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#innerRegisterContainer {
    width: 320px;
    background-color: #808080;
    padding: 40px 20px;
    box-sizing: border-box;
    border-radius: 7px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    text-align: center;
    color: #fff;
    font-weight: normal;
    margin-bottom: 20px;
}

input {
    width: 100%;
    background: none;
    border: 1px solid #fff;
    border-radius: 3px;
    padding: 6px 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
    font-size: 16px;
    color: #fff;
}

input[type="submit"] {
    background: #bac675;
    border: 0;
    cursor: pointer;
}

input[type="submit"]:hover {
    background: #a4b15c;
    transition: .4s;
}

::placeholder {
    color: #fff;
}