* {
    margin: 0;
    padding: 0;
}

canvas {
    position: absolute;
    overflow: hidden;
    height: 100%;
    margin-left: 0%;
    margin-top: 0px;
}

body {
    background-color: black;
}

.playButton {
    position: absolute;
}